.c-btn {
  align-items: center;
  background-color: #de5d0b;
  border-radius: 32px;
  color: #fff;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  height: 52px;
  justify-content: center;
  width: 312px;

  &:hover,
  &:focus,
  &:visited {
    color: #fff;
  }

  &.c-btn--lerge {
    border-radius: 48px;
    font-size: 2.4rem;
    height: 84px;
    width: 484px;
  }
}
