.c-sectionTitle {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.c-sectionTitleEn {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 4px;
}
